@model int

<form asp-page="/Cart" asp-page-handler="AddToCart" method="post" class="add-to-cart-form">
    <input type="hidden" name="productId" value="@Model" />
    <input type="hidden" name="quantity" value="1" />
    @Html.AntiForgeryToken()
    
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-cart-plus"></i> Add to Cart
    </button>
</form>