@model AlpineNeeds.Models.Order
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@if (Model != null)
{
    <a class="dropdown-item" href="/Account/Orders/Details/@Model.Id">@Localizer["My Orders"]</a>
}
else
{
    <a class="dropdown-item" href="/Account/Orders">@Localizer["My Orders"]</a>
}
